.Body_Home {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Body_Home #title_Home_barberShop {
	color: #E0AB48;
	font-size: 26pt;
	font-weight: 900;
}

.Body_Home #description_Home_barberShop {
	color: #DEDEDE;
	font-size: 20pt;
	font-weight: 600;
}

.Body_Home #Logo_Home_barberShop {
	width: 35%;
	max-width: 35%;
}

.Body_Home #button_Home_barberShop {
	background-color: #E0AB48;
	color: #DEDEDE;
	font-size: 16pt;
	margin-top: 1rem;
	font-weight: 700;
}