.Body_Schedules {
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Body_Schedules #title_Schedules_barberShop {
	color: #E0AB48;
	font-size: 26pt;
	font-weight: 900;
	margin-top: 2rem;
}

.Body_Schedules #description_Schedules_barberShop {
	color: #DEDEDE;
	font-size: 20pt;
	font-weight: 600;
}

.Body_Schedules #TextTitleData_Schedules {
	color: #DEDEDE;
	font-size: 15pt;
	font-weight: 600;
	margin-top: 1rem;

}

.Body_Schedules #style_line {
	margin-top: -2rem;
	border-bottom: 13px solid #b6b6b6;
	clip-path: polygon(0 0, 100% 0, 100% 0, 50% 7%);
}

.Body_Schedules #TextData_Schedules {
	color: #DEDEDE;
	font-size: 17pt;
	font-weight: 600;

	margin-bottom: 4rem;
}

.Body_Schedules .DatePickerCalendar_Schedules {
	width: 80%;
}

.nice-dates-day.-highlight {
	color: rgb(255, 38, 0);
}

.nice-dates-day {
	color: rgb(248, 246, 241);
}


.nice-dates-navigation {
	color: #E0AB48;
	font-weight: 600;
}

.nice-dates-day:before,
.nice-dates-day:after {
	background: rgb(85, 84, 84) !important;
	border-color: #E0AB48;
}

@media only screen and (max-width: 1000px) {
	.Body_Schedules .DatePickerCalendar_Schedules {
		width: 100%;
	}
}