@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?display=swap');

* {
	margin: 0;
	padding: 0;
}

/* p {
	font: 400 14px Roboto, sans-serif !important;
} */

h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 90px;
}

body {
	-webkit-font-smoothing: antialiased !important;
	background-color: #353434 !important;
}